{% extends 'base.html' %}

{% block title %}
  Об авторе проекта
{% endblock %}

{% block content %}
  <h1>
    Привет, я автор
  </h1>
  <p>
    Здесь могла быть информация обо мне, о моих увлечениях и умениях,
    но мне абсолютно лень ее писать. Более того. Мне на столько лень, 
    что даже контактной информации будет самый минимум. Буквально только
    ссылка на GITHUB. И то, если мне вдруг не станет несказанно лень
    оставить хотя бы ее. В некотором роде, меня можно назвать чемпионом 
    по лени.
  </p>
  <a href = "https://github.com/sergey-xx"> GITHUB </a>
{% endblock %}